<a href="https://colab.research.google.com/github/KrushnaChaure/play-store-app-review-analysis/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

## In today world of internet smartphone playing a crucial role with the help of apps which is present in smartphone which is using by human.

So why should we use this apps????

No doubts there are multiple advantages of using apps:


*   Communication and Engagement with customer,friends,family
*   Handling Businesses

*   Fun & Entertainment 

*   Study and Education


*   Day to Day life and their are many more......

## Importance of Apps data and Review analysis



*   So devloper devloping and design apps but its important to know that what types of 
requirement of customer.

*   To help targeting the most impactful improvement to app,can view top trends and issues that the customer mentions.
*   Through comprehensive analysis of designated apps, optimizing the ratings and reviews maintains high reputation.

*   The objective of this project is to deliver insights to understand customer demands better and thus help developers to popularize the product.

## So we are using Exploratory Data Analysis(EDA) which help us to understand customer demands better and doing visualization over them to deliver some insights to devloper.

Lets now deep dive into our input data files:


*   Play Store Data.csv - It contains the basic details of the app like number of user reviews, ratings, etc.
*   User Reviews.csv - It contains the user reviews and its sentiment score for the respective app.

## Now lets importing necessary packages and libraries

In [1]:
import numpy as np                       # doing numerical operatoin over data(1 dimensional)
import pandas as pd                      # doing operation over dataframe object like row and column label data(2 dimensional)
import matplotlib.pyplot as plt          # doing data visualization
import seaborn as sns                    # doing data visualization
%matplotlib inline     
# %matplotlib inline sets the backend of matplotlib to the 'inline' backend

## Lets first mount the drive to connect dataset to the notebook

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [34]:
# Now reading the dataset path
df_apps_data = pd.read_csv('/content/drive/MyDrive/Almabetter/Module1/Capstone Projects/Play Store Data.csv') 
df_apps_review= pd.read_csv('/content/drive/MyDrive/Almabetter/Module1/Capstone Projects/User Reviews.csv')

In [35]:
df_apps_data.head()                     # it give us top 5 dataframe

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

## Below is description of columns/variable in our Play Store Data

*   App --- It contains the name of the app with a short description.
*   Category--- This section gives the category to which an app belongs.

*    Rating--- It gives the average rating gives by customer with respective app which lies between 1 to 5.

*   Reviews--- The number of users that have dropped a review for the respective app.

*   Size--- How much space required to install app.
*   Installs--- The approximate number of times the respective app was installed.


*   Types--- Its shows whether this app free or paid.


*   Price--- It gives the price payable to install the app. For free type apps, the price is zero.

*   Content Rating--- It states which age group is suitable to consume the content of the respective app.

*   Genres--- It state whether its which type of app.
*   Last Updated--- It gives the day in which the latest update for the respective app was released.


*   Current Version--- It gives the current version of the respective app belongs.

*   Android Version--- It gives the android version of the respective app belongs.

In [36]:
df_apps_review.head()              # It give us top 5 dataframe

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

## Below is description of columns/variable in our User Review

*   App--- It contains the name of the app with a short description.

*   Translated_Review--- It contains the English translation of the review dropped by the user of the app.

*   Sentiment--- It gives the attitude/emotion of the writer. It can be â€˜Positiveâ€™, â€˜Negativeâ€™, or â€˜Neutralâ€™.
*   Sentiment_Polarity--- It gives the polarity of the review. Its range is [-1,1], where 1 means â€˜Positive statementâ€™ and -1 means a â€˜Negative statementâ€™.


*   Sentiment_Subjectivity--- This value gives how close a reviewerâ€™s opinion is to the opinion of the general public. Its range is [0,1]. Higher the subjectivity, closer is the reviewerâ€™s opinion to the opinion of the general public, and lower subjectivity indicates the review is more of a factual information.

In [37]:
# Getting the how many rows and columns in our dataframe
df_apps_data.shape

(10841, 13)

In [38]:
df_apps_review.shape

(64295, 5)

In [39]:
# Getting column names
df_apps_data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [40]:
df_apps_review.columns

Index(['App', 'Translated_Review', 'Sentiment', 'Sentiment_Polarity',
       'Sentiment_Subjectivity'],
      dtype='object')

In [41]:
# Getting information about our dataframe
df_apps_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [42]:
df_apps_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [43]:
# Now getting overall descriptive summary of dataframe
df_apps_data.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [44]:
df_apps_review.describe()

       Sentiment_Polarity  Sentiment_Subjectivity
count        37432.000000            37432.000000
mean             0.182146                0.492704
std              0.351301                0.259949
min             -1.000000                0.000000
25%              0.000000                0.357143
50%              0.150000                0.514286
75%              0.400000                0.650000
max              1.000000                1.000000

Hurray!!!
Now we are familiar with our both dataframe and knowing all basic information  of our both dataframe & understand them very well

Now its time to doing some operation on this datframe and find some insights from them

## Data Cleaning
Why this data cleaning is important ????

*   Wrong,inconsistent data can lead us to do false conclusion and due to this their chances to present falsy data visualization which affect badly over businesses also its misdirect the businesses and our clients.
*   Data cleaning allow us to generate accurate,defensible data to doing accuratly analysis over them.

*   So accuratly analysis lead us to doing precisely data visualization and help us making good businesses decisions.

So during running the code in row 10472 found mismatch data on that row so we remove this row.

In [45]:
# we remove this row
df_apps_data.drop(10472)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

Also in Installs column there are present **'+' & ','** in front of values so we converting it into numeric

In [ ]:
# Simply with the help of replace function we convert '+' to blank space '' & converting ',' to blank space ''
df_apps_data['Installs']= df_apps_data['Installs'].str.replace('+','').str.replace(',','')

In [52]:
df_apps_data['Installs']

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs, Length: 10841, dtype: object

Same query happen in Price column so we want to convert '$' to numeric data

In [53]:
# With the help of replace function we convert '$' to blank space ''
df_apps_data['Price'] = df_apps_data['Price'].str.replace('$','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

Also in size column we want to convert 'M' into numeric data

In [63]:
# converting 'M' to blank space ''
df_apps_data['Size']= df_apps_data['Size'].str.replace('M','')
# also in size column there are some value which is 'Varies with device' so its converting to the 'NaN'
df_apps_data['Size']= df_apps_data['Size'].replace('Varies with device',np.nan)

In [64]:
df_apps_data['Size']

0         19
1         14
2        8.7
3         25
4        2.8
        ...
10836     53
10837    3.6
10838    9.5
10839    NaN
10840     19
Name: Size, Length: 10841, dtype: object

Also in Current Ver column and Android ver column there are 'Varies with device' converting to the 'NaN'

In [67]:
# In 'Current Ver' column converting 'Varies with device' to the 'NaN' with the help of replace function
df_apps_data['Current Ver']= df_apps_data['Current Ver'].replace('Varies with device',np.nan)
# In 'Android Ver' column converting 'Varies with device' to the 'NaN' with the help of replace function
df_apps_data['Android Ver']= df_apps_data['Android Ver'].replace('Varies with device',np.nan)

In [68]:
df_apps_data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25,50000000,Free,0,Teen,Art & Design,"June 8, 2018",NaN,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [69]:
df_apps_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            9146 non-null   object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     9374 non-null   object
 12  Android Ver     9476 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB